# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore data files (optional)
*.csv
*.xlsx
*.sav
*.parquet

# Ignore virtual environments
.env/
.venv/

# Ignore env files
.env
